.announcement {
  width: 100%;
  overflow: hidden;
  background: #ff4d30;
  color: white;
  padding: 10px 0;
  position: relative;
  margin-top: 20px;
}

.announcement-track {
  display: flex;
  width: max-content;
  animation: scroll 15s linear infinite;
}

.announcement-track p {
  white-space: nowrap;
  margin-right: 50px;
  font-weight: 600;
  font-size: 20px;
}

/*-----Scrolling Animation-----*/
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-30%);
  }
}

/*-----Pause on hover (optional but professional)-----*/
.announcement:hover .announcement-track {
  animation-play-state: paused;
}
